body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #2f3544, black);
  background-repeat: no-repeat;
  background-size: auto;
  font-family: "Roboto", sans-serif;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

input[type="checkbox"] {
  opacity: 0;
}

label {
  position: relative;
  color: gray;
}

/*label::before {
  position: absolute;
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  border: 1px dotted gray;
  border-radius: 5px;
  top: -1px;
}

label::after {
  position: absolute;
  content: none;
  display: inline-block;
  height: 15px;
  width: 15px;
  color: red;
  left: -23px;
  top: -3px;
  animation: colorChange 1s linear infinite;
  -webkit-animation: colorChange 1s linear infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
  }
  75% {
    color: limegreen;
  }
  100% {
    color: blue;
  }
}

@-webkit-keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
  }
  75% {
    color: limegreen;
  }
  100% {
    color: blue;
  }
}

input[type="checkbox"]:checked + label::after {
  content: "\02764";
}

input[type="checkbox"]:focus + label::before {
  outline: 1px dotted pink;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
